body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b5d8e3;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: rgb(16, 2, 50);
    text-decoration: none;
    padding: 8px 16px;
    transition: background 0.3s;
}
